<mat-card class="paste-json-card">
    <mat-card-title class="paste-json-card__title">Paste JSON</mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <div class="paste-json-card__content">
                <button class="paste-json-card__closebtn" mat-button *ngIf="textAreaInput" matSuffix mat-icon-button aria-label="Clear"
                        (click)="reset()">
                    <mat-icon>close</mat-icon>
                </button>
                <textarea #textArea rows="7" cols="40" matInput required [(ngModel)]="textAreaInput"
                          (keyup)="getJson($event)">

    </textarea>
            </div>
        </mat-form-field>
    </mat-card-content>
</mat-card>