    <mat-card class="render-json-card">
        <mat-card-title  *ngIf="formInputs">Render Dynamic Forms</mat-card-title>
        <mat-card-content class="render-json-card__content" #dynamicForms>
        </mat-card-content>
    </mat-card>